@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  height: 100vh;
  place-content: center;
  align-items: center;
  gap: 20px;
}

.panel {
  width: 120px;
  height: 750px;
  border-radius: 30px;
  display: flex;
  align-items: end;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  transition: all 700ms ease-in;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  color: white;
  padding: 25px;
}

.panel:hover {
  cursor: pointer;
}

.active {
  width: 1150px;
}
